[submodule "testing/site_scons/site_tools/nvcc-scons"]
	path = testing/site_scons/site_tools/nvcc-scons
	url = https://github.com/jaredhoberock/nvcc-scons.git
[submodule "examples/site_scons/site_tools/nvcc-scons"]
	path = examples/site_scons/site_tools/nvcc-scons
	url = https://github.com/jaredhoberock/nvcc-scons.git
